.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #3B185F;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 8px 0 #000;
  font-size: 8rem;
  color: #C060A1;
}

p {
  font-size: 2rem;
  color: #C060A1;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

.home{
  height: 50px;
  width: 50px;
  align-items: center;
  position: absolute;
  bottom: 100px;
  
}

